PORT=3000
DATABASE_URL=postgresql://post:post@localhost:5432/post?schema=public
HOST_ENV=['local', 'production']
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=https://localhost:8000
DEBUG=postnick:*,-postnick:prisma:*,-postnick:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SOURCE_VERSION=123
SENTRY_AUTH_TOKEN=!!!SECRET!!!
# CLOUDINARY_API_KEY=!!!SECRET!!!
# CLOUDINARY_API_SECRET=!!!SECRET!!!
CLOUDINARY_CLOUD_NAME=dquf3wlzq