PORT=3000
DATABASE_URL=postgresql://post:post@localhost:5432/post?schema=public
HOST_ENV=local
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=https://localhost:8000
DEBUG=postnick:*,-postnick:prisma:*,-postnick:trpc:query:success
# BACKEND_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
# SOURCE_VERSION=123
SENTRY_AUTH_TOKEN=test
# CLOUDINARY_API_KEY=test
# CLOUDINARY_API_SECRET=test
CLOUDINARY_CLOUD_NAME=dquf3wlzq
NODE_ENV=development