PORT=3000
DATABASE_URL=postgresql://post:post@localhost:5432/post?schema=public
HOST_ENV=['local', 'production']
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=https://localhost:8000
# S3_ACCESS_KEY_ID=!!!SECRET!!!
# S3_SECRET_ACCESS_KEY=!!!SECRET!!!
S3_BUCKET_NAME=postnick
S3_REGION=auto
S3_URL=https://db0d443106ba1572b7dda2dd3f333863.r2.cloudflarestorage.com
DEBUG=postnick:*,-postnick:prisma:*,-postnick:trpc:query:success