PORT=8000
TRPC_URL=https://localhost:3000/trpc
VITE_WEBAPP_URL=https://localhost:8000
VITE_S3_URL=https://db0d443106ba1572b7dda2dd3f333863.r2.cloudflarestorage.com
# VITE_S3_ACCESS_KEY_ID=!!!SECRET!!!
VITE_S3_BUCKET_NAME=postnick