@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .date {
    font-size: 12px;
    font-style: italic;
  }

  .author {
    font-weight: bold;
    font-size: 14px;
  }
}

.text {
  font-size: $defaultFontSize;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}
